@import "colors";

.m-search{
	padding: 5px 0 5px 20px;
	background: $offwhite;
	border-bottom: 1px solid #d8e1e6;
	
	&:before{
		display: inline-block;
		position: relative;
		left: -10px;
		top: 5px;
		content: '';
		height: 24px;
		width: 23px;
		background-image: url("../images/mag-icon.png");
	}

}

.m-search--input-text{
	background: none;
	border: none;
	padding: 5px 0 5px 0;
	
	&:focus{
		outline: none;
	}


}